.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 0;
  width: 100%;

  & .produtos {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  & .flex-produtos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
  }
}

@media (max-width: 1024px) {
  .flex-produtos {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media (max-width: 768px) {
  .flex-produtos {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}