<app-container>
  <div class="container">
    <section class="produtos">
      <app-linha-produto linha="Star Wars" />
      <div class="flex-produtos">
        <app-produto src="assets/star-wars/img-1.png" />
        <app-produto src="assets/star-wars/img-2.png" />
        <app-produto src="assets/star-wars/img-3.png" />
        <app-produto src="assets/star-wars/img-4.png" />
        <app-produto src="assets/star-wars/img-5.png" />
        <app-produto src="assets/star-wars/img-6.png" />
      </div>
    </section>

    <section class="produtos">
      <app-linha-produto linha="Consoles" />
      <div class="flex-produtos">
        <app-produto src="assets/console/img-1.png" />
        <app-produto src="assets/console/img-2.png" />
        <app-produto src="assets/console/img-3.png" />
        <app-produto src="assets/console/img-4.png" />
        <app-produto src="assets/console/img-5.png" />
        <app-produto src="assets/console/img-6.png" />
      </div>
    </section>

    <section class="produtos">
      <app-linha-produto linha="Diversos" />
      <div class="flex-produtos">
        <app-produto src="assets/diversos/img-1.png" />
        <app-produto src="assets/diversos/img-2.png" />
        <app-produto src="assets/diversos/img-3.png" />
        <app-produto src="assets/diversos/img-4.png" />
        <app-produto src="assets/diversos/img-5.png" />
        <app-produto src="assets/diversos/img-6.png" />
      </div>
    </section>
  </div>
</app-container>
