<section class="contato">
  <div>
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  <div class="links">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <a href="#quem-somos" class="link">Quem somos nós</a>
    <a href="#politica-privacidade" class="link">Política de privacidade</a>
    <a href="#programa-fidelidade" class="link">Programa fidelidade</a>
    <a href="#lojas" class="link">Nossas lojas</a>
    <a href="#franqueado" class="link">Quero ser franqueado</a>
    <a href="#anunciar" class="link">Anuncie aqui</a>
  </div>
  <div class="container-form">
    Fale conosco
    <form>
      <app-input [exibirLabel]="true" label="Nome" placeholder="Informe seu nome..." />
      <app-input [text]="false" placeholder="Digite sua mensagem aqui..." />
      <app-botao tipo="primary full-width" nome="Enviar mensagem" />
    </form>
  </div>
</section>
