<section class="contato">
  <div>
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  <div class="links">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <a href="#quem-somos" class="link">Quem somos nós</a>
    <a href="#politica-privacidade" class="link">Política de privacidade</a>
    <a href="#programa-fidelidade" class="link">Programa fidelidade</a>
    <a href="#lojas" class="link">Nossas lojas</a>
    <a href="#franqueado" class="link">Quero ser franqueado</a>
    <a href="#anunciar" class="link">Anuncie aqui</a>
  </div>
  <div class="container-form">
    Fale conosco
    <form>
      <div class="input">
        <label for="nome">Nome</label>
        <input type="text" placeholder="Informe seu nome...">
      </div>
      <div class="input">
        <textarea name="Descrição" cols="10" rows="4" placeholder="Digite sua mensagem aqui..." ></textarea>
      </div>
      <app-botao tipo="primary full-width" nome="Enviar mensagem" />
    </form>
  </div>
</section>
